:root.theme_dark {
  --text-color: #ff0070;
  --text-title-color: #db00ff;
  --text-subtitle-color: #000028;
  --text-p-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --hover-color: rgb(255 0 112 / 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --decor: '';
  --decor-text: 'REC';
}

.page.theme_dark {
  --text-color: #ff0070;
  --text-title-color: #db00ff;
  --text-subtitle-color: #000028;
  --text-p-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --hover-color: rgb(255 0 112 / 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --decor: '';
  --decor-text: 'REC';
}