/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --text-title-color: #FFC2E6;
  --text-subtitle-color: #353430;
  --text-p-color: #353430;
  --accent-color: #FF8DCB;
  --hover-color: rgb(50 49 45 / 0.40);;
  --bg-image: url(../images/cover-image-light.png);
  --decor: none;
  --decor-text: none;
}

@media (prefers-color-scheme: light) {

  :root {
  --text-color: #353430;
  --text-title-color: #FFC2E6;
  --text-subtitle-color: #353430;
  --text-p-color: #353430;
  --accent-color: #FF8DCB;
  --hover-color: rgb(50 49 45 / 0.40);;
  --bg-image: url(../images/cover-image-light.png);
  --decor: none;
  --decor-text: none;
    }
}

