.page.theme_light {
  --text-color: #353430;
  --text-title-color: #ffc2e6;
  --text-subtitle-color: #353430;
  --text-p-color: #353430;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --hover-color: rgb(50 49 45 / 0.4);
  --bg-image: url(../images/cover-image-light.png);
  --decor: none;
  --decor-text: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color: #353430;
    --text-title-color: #ffc2e6;
    --text-subtitle-color: #353430;
    --text-p-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --hover-color: rgb(50 49 45 / 0.4);
    --bg-image: url(../images/cover-image-light.png);
    --decor: none;
    --decor-text: none;
  }
}