/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'IBM Plex mono', sans-serif;
}

.header {
  block-size: 100vh;
  display: grid;
  position: relative;
  color: var(--text-color);
  font-size: 18px;
  margin: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  justify-self: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.header__decoration {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
}

.header__decoration::before {
  content: var(--decor-text);
}

.header__decoration::after {
  content: var(--decor);
  inline-size: 9px;
  block-size: 9px;
  margin-block-start: 8px;
  background-color: var(--text-color);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px;
}

.header__grid {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  margin-block-end: 20px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 11px;
  justify-items: end;
  margin: 0;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: lowercase;
  color: inherit;
  padding-inline: 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  text-align: start;
}

.title {
  color: var(--text-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  margin: 0;
}

.header__subtitle {
  display: flex;
  block-size: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-self: end;
  align-self: center;
}

.header__subtitle-item {
  inline-size: clamp(22.188rem, 2.29vw + 21.651rem, 22.75rem);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-subtitle-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
}

@media (width >= 768px) {

  .header {
    margin: 20px 20px 20px 0;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 40px;
  }

  .header__grid {
    grid-template-columns: 1fr 1fr;
    margin-block-end: 40px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
  }

  .header__title {
    grid-column: 1 / span 2;
  }

  .header__subtitle {
    grid-column: 2;
    margin-inline-start: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5562rem + 14.4644vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    padding: 0;
  }

  .title {
    text-shadow: 4px 4px 0 #ff0070;
  }

  .header__subtitle {
    margin-inline-start: 10px;
  }

  .header__subtitle-item {
    inline-size: 100%;
  }
}

.content {
  display: grid;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  gap: 50px;
  margin: 30px 10px 40px;
  font-size: 18px;
}

.content__heading {
  color: var(--text-color);
  margin: 0 0 20px;
  font-size: 18px;
}

.content__heading-h3 {
  margin-block: 20px 10px;
}

.content__section-images .content__heading-h3 {
  margin: 0;
}

.content__article-p {
  color: var(--text-p-color);
  margin: 0;
  line-height: 23.4px;
}

.content__heading-h4.title-decor {
  font-weight: 400;
  margin-block: 20px 10px;
}

.content__link {
  color: var(--text-p-color);
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.content__link:visited {
  color: var(--text-p-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-p-color);
}

.content__link:hover {
  border-block-end: 1px solid var(--text-p-color);
}

.content__section-images {
  display: grid;
  gap: 10px;
}

.content__image {
  inline-size: 100%;
}

@media (width >= 768px) {

  .content {
    margin: 40px 20px 60px;
    gap: 80px;
  }

  .content__section {
    display: grid;
    gap: 20px;
  }

  .content__heading {
    margin: 0;
  }

  .content__section:nth-of-type(1) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }

  .content__heading:nth-of-type(1) {
    grid-row: 1 / span 2;
  }

  .content__heading-h3 {
    margin-block: 0 10px;
  }

  .content__section:nth-of-type(2) {
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header ."
      "content1 content1"
      "content2 content2"
      "content3 content3";
  }

  .content__section:nth-of-type(2) .content__heading {
    grid-area: header;
  }

  .content__section:nth-of-type(2) .content__article:nth-of-type(1) {
    grid-area: content1;
  }

  .content__section:nth-of-type(2) .content__article:nth-of-type(2) {
    grid-area: content2;
  }

  .content__section:nth-of-type(2) .content__article:nth-of-type(3) {
    grid-area: content3;
  }

  .content__section:nth-of-type(3) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
  }

  .content__section:nth-of-type(3) .content__heading {
    grid-row: 1 / -1;
  }

  .content__section:nth-of-type(3) .content__heading-h3 {
    margin: 0;
  }

  .content__section:nth-of-type(3) .content__heading-h4 {
    margin: 0 0 10px;
  }

  .content__section-images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto fit-content(260px) fit-content(315px) 1fr;
    grid-template-areas:
      "images-header images-header images-header"
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  .content__section-images .content__heading-h3 {
    grid-area: images-header;
  }

  .content__section-images .content__image:nth-of-type(1) {
    grid-area: sunset;
  }

  .content__section-images .content__image:nth-of-type(2) {
    grid-area: icecream;
    block-size: 100%;
    object-fit: cover;
  }

  .content__section-images .content__image:nth-of-type(3) {
    grid-area: tape;
    block-size: 100%;
    object-fit: cover;
  }

  .content__section-images .content__image:nth-of-type(4) {
    grid-area: books;
  }

  .content__section-images .content__image:nth-of-type(5) {
    grid-area: street;
  }
}

@media (width >= 1024px) {

  .content__section:nth-of-type(1) {
    column-gap: 10px;
  }

  .content__section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-areas:
    "header . ."
    "content1 content2 content3"
    "content1 content2 content3";
  }

  .content__section:nth-of-type(3) {
    column-gap: 10px;
  }
}

.footer {
  display: flex;
  block-size: 100vh;
  margin: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer.decorated-zone::before {
  right: 0;
  top: 10px;
}

.footer.decorated-zone::after {
  left: 0;
  top: initial;
  bottom: 10px;
}

@media (width >= 768px) {

  .footer {
    margin: 20px;
  }

  .footer.decorated-zone::before {
    top: 20px;
  }
  
  .footer.decorated-zone::after {
    bottom: 20px;
  }
}

